/* Ẩn thanh cuộn cho trình duyệt Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}

/* Ẩn thanh cuộn cho Firefox */
* {
  scrollbar-width: none;
}

/* Ẩn thanh cuộn cho IE và Edge */
* {
  -ms-overflow-style: none;
}

/* Đảm bảo trang vẫn có thể cuộn */
html, body {
  overflow-y: auto;
}

.bg-custom {
  background-image: linear-gradient(135deg, #667eea, #764ba2) !important;
  color: white !important;
}
.alert-card {
  z-index: 4000;
  position: fixed;
  top: 10%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px;
}